*
{
	margin-left:0;
	margin-right:0;
}
body
{
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c31432, #240b36); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c31432, #240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1
{
	font-size:40px;
	color:white;
	text-align:center;
}
#outer
{
	background-color:white;
	margin:auto;
	height:42vw;
	width:65vw;
	border-radius:20px 20px;
}
#inner
{
	height:4vw; 	
 	border-radius: 20px 20px 0px 0px;
	background-color:sienna;
	border-bottom:2px solid black; 
}
#inner1
{
	margin-top:5px; 
	background-color:white; 	
	border-bottom:2px solid grey;
	margin-bottom:5px;

}
#inner2
{
	margin-top:10px;
	background-color:white; 	
	border-bottom:2px solid grey; 

}
table
{
	margin:auto; 	
	
	width:90%;
}
table td,tr
{
	font-size:1.8vw;
	
	padding:10px;
}
button
{
width:50%;
height:3vw;
margin-left:14vw; 
border-radius:15px 15px;
outline:none;
}
input[type="number"]
{
	width:80%;
	height:25px;
	border-radius:15px 15px;
	outline:none;
}
input::placeholder
{
	text-align:center;
}
.slider{
  width: 70%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 30px;
	height: 30px;
	background-color:blue;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	box-shadow: 0 0 0 0 rgba(0,128,255,.1);
	transition: .3s ease-in-out;
}
.slider::-webkit-slider-thumb:hover {
	box-shadow: 0 0 0 20px rgba(0,128,255,.1);
}
.slider:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 40px rgba(0,128,255,.1);
}


